#idBackgroundAnchorPane {
	-fx-background-color: transparent;
}

#idBorderPaneS {
	-fx-background-color: linear-gradient(to bottom, black ,rgba(90,90,90,0.8) 20%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.01) 90% );
	-fx-cursor: s-resize;
}

#idBorderPaneW {
	-fx-background-color: linear-gradient(to left, black , rgba(90,90,90,0.8) 20%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.01) 90% );
	-fx-cursor: w-resize;
}

#idBorderPaneN {
    -fx-background-color: linear-gradient(to top, black , rgba(90,90,90,0.8) 20%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.01) 90% );
	-fx-cursor: n-resize;
}

#idBorderPaneE {
	-fx-background-color: linear-gradient(to right, black , rgba(90,90,90,0.8) 20%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.01) 90% );
	-fx-cursor: e-resize;
}

#idAnglePaneSW {
	-fx-cursor: sw-resize;
}

#idAnglePaneNW {
	-fx-cursor: nw-resize; 
}

#idAnglePaneNE {
	-fx-cursor: ne-resize;
}

#idAnglePaneSE {
	-fx-cursor: se-resize;
} 